$def with(clientes)
<h3>
    <a href="/clientes">Clientes</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>Clientes</th>
        <th>Editar</th>
        <th>Borrar</th>
    </thead>
    <tbody>
        $for item in clientes:
        <tr>
            <td><a href='/clientes/view/$item.id'>$item.nombre $item.ape_pat $item.ape_mat</a></td>
            <td><a href='/clientes/edit/$item.id'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/clientes/delete/$item.id'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>
