<h3>
    <a href="/clientes">Clientes</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="nombre">Nombre</label>
    <input required id="nombre" type="text" class="form-control" name="nombre" size="30"/>
</div><div class="form-group">
    <label for="ape_mat">Apellido materno</label>
    <input required id="ape_mat" type="text" class="form-control" name="ape_mat" size="30"/>
</div><div class="form-group">
    <label for="ape_pat">Apellido paterno</label>
    <input required id="ape_pat" type="text" class="form-control" name="ape_pat" size="30"/>
</div><div class="form-group">
    <label for="telefono">Telefono</label>
    <input required id="telefono" type="text" class="form-control" name="telefono" size="30"/>
</div><div class="form-group">
    <label for="correo">Correo</label>
    <input required id="correo" type="text" class="form-control" name="correo" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Guardar</button>
    </div>
</form>
<br>
<br>
